* {
    margin: 0;
    border: 0;
    padding: 0;
}

#HeaderWrapper {
    width: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    border: none;
    line-height: 1.5;
    background-color: rgb(18, 36, 70);
}

.MenuItem {
    display: inline;
}

ul {
    display: inline-block;
}

.LMLogo {
    max-width: 194px;
    margin: 2%;
    display: inline;
}

#body {
    background-color: rgba(255, 255, 255, 0.726);
    font-family: 'Source Sans Pro', sans-serif;
}

#ContentWrapper {
    width: 85%;
    height: 200px;
    background-color: white;
    float: auto;
}

#footer {
    width: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    border: none;
    line-height: 1.5;
    background-color: rgb(18, 36, 70);
}

.fa {
        padding: 20px;
        font-size: 30px;
        width: 50px;
        text-align: center;
        text-decoration: none;
}