* {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

#HeaderWrapper {
    width: 100%;
    margin: 0 auto;
    padding: 10px 0px 10px 0px;
    background-color: rgb(18, 36, 70);
    overflow:hidden;
}

.LMLogo {
    max-width: 250px;
    float: left;
    margin-left: 7.5%;
}

ul {
    display: inline-block;
    list-style-type: none;
    width: 60%;
    margin-right: 7.5%;
    margin-left: 7.5%;
    margin-top: 1.5%;
}

.MenuItem {
    text-decoration: none;
    display: inline;
    background:
    linear-gradient(
      to bottom, rgb(36,80,141) 0%,
      rgb(36,80,141) 100%
    );
   background-position: 0 100%;
   background-repeat: repeat-x;
   background-size: 4px 4px;
   color: white;
   padding-left: 2%;
   padding-right: 2%;
   padding-top: 0.5%;
   padding-bottom: 1%;
   text-decoration: none;
   transition: background-size .2s;
   margin: 1%;
}

.LMUKItem {
    font-weight: bold;
    text-decoration: none;
    background-position: 0 100%;
    background-size: 4px 4px;
    color: rgb(18, 36, 70);
    background-color: white;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 0.5%;
    padding-bottom: 1%;
    margin-right: 5%;
    margin-left: 10%;
    display: inline;
}

a.menulink:link {
    text-decoration: none;
    color: white;
}

a.menulink:visited {
    text-decoration: none;
    color: white;
}

a.lmuklink:link {
    text-decoration: none;
    color: rgb(18, 36, 70);
}

a.lmuklink:visited {
    text-decoration: none;
    color: rgb(18, 36, 70);
}

.MenuItem:hover {
    background-size: 4px 50px;
}

.MenuItem:hover {
    background-size: 4px 50px;
}

.LMUKItem:hover {
    background-color: grey;
    color: white;
}

#body {
    background:grey;
    font-family: 'Source Sans Pro', sans-serif;
}

#ContentWrapper {
    width: 85%;
    min-height: 100vh;
    background-color: white;
    margin: auto;
}

#footer {
    width: 100%;
    margin: 0 auto;
    padding: 10px 0px 10px 0px;
    background-color: rgb(18, 36, 70);
    overflow:hidden;
}

.fa {
    display: inline-block;
    background-color: white;
    padding: 10px;
    font-size: 30px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    color: rgb(18, 36, 70);
    margin-top: 0.5%;
}

h3 {
    
    font-size: 14px;
    font-weight: normal;
    display: inline-block;
    color: white;
    margin-left: 18%;
    margin-right: 18%;
    margin-top: 1%;
    margin-bottom: 1%;
}

h1 {
    margin-top: 1%;
}

h2 {
    margin-top: 1%;
    margin-bottom: 2px;
}

form input[type=textarea] {
    vertical-align: text-top;
    border: 1px solid grey;
    padding-bottom: 5%;
    width: 99%;
    margin-right: 1%;
    margin-bottom: 0.5%;
}

article {
    border-bottom: solid grey;
    margin: auto;
}

#NavigationPane {
    background-color:rgb(18,47,87);
    width: 20%;
    height: 100vh;
}

#PageNav {
    margin:0;
    margin-top: 10%;
    width: 100%;
}

.PageNavItem {
    border-top: solid white;
    border-bottom: solid white;
    padding-top: 6%;
    padding-bottom: 6%;
    width: 100%;
    color: white;
    text-align: center;
}

.PageNavItem:hover {
    border-right: 5px solid rgb(255,129,42);
}

form input[type=submit] {
    background-color: rgb(255,129,42);
    width: 10%;
    padding-top: 2px;
    padding-bottom: 2px;
    color: white;
    font-weight: 700;
    font-size: 20px;
}

#photo {
    width: 95%;
    height: 180px;
    background-color: white;
    margin-left: 5px;
    margin-bottom: 20px;
}